<div *ngIf="dataLoaded==false" class="spinner-border text-primary d-flex mx-auto" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <ul *ngIf="dataLoaded==true" class="list-group">

    <li (click)="clearCurrentBrand()" routerLink="/cars" [class]="getAllBrandClass()">Tüm Markalar</li>
    
    <li (click)="setCurrentBrand(brand)" 
      routerLink = "/cars/brand/{{ brand.id }}"
      *ngFor="let brand of brands;" class="list-group-item"
      [class]="getCurrentBrandClass(brand)">
      {{ brand.name }}
    </li>
  
  </ul>


