<div *ngIf="dataLoaded==false" class="spinner-border text-primary d-flex mx-auto" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
  
<ul *ngIf="dataLoaded==true" class="list-group">
  <li (click)="clearCurrentBrand()" routerLink="/cars" [class]="getAllBrandClass()">Tüm Markalar</li>
  <li class="list-group-item">  
    <input type="text" class="form-control" id="markaarama" [(ngModel)]="brandFilterText" placeholder="Marka ara">
  </li>
  <li  
    *ngFor="let brand of brands | brandFilter : brandFilterText" 
    (click)="setCurrentBrand(brand)" routerLink="cars" [queryParams]="{brandId: brand.id}" queryParamsHandling="merge"
    [class]="getCurrentBrandClass(brand)"> {{ brand.name }}
  </li>
</ul>