<div class="card mt-4">

  <div class="card-header text-center">
    <strong>Ödeme İşlemleri</strong>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-2"></div>

      <div class="col-8">
        <div class="mb-3">
          <p>Toplam Tutar : <strong>{{ cartTotal }}</strong> TL</p>
        </div>

        <form [formGroup]="paymentForm">

          <div class="mb-3">
            <label for="cartOwnerName">Kart Sahibinin Adı Soyadı</label>
            <input type="text" class="form-control" id="cartOwnerName" formControlName="cartOwnerName" />
          </div>

          <div class="mb-3">
            <label for="cardNumber">Kart Numarası</label>
            <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber" placeholder="0000-0000-0000-0000"/>
          </div>

          <div class="row">

            <div class="col-6">
              <div class="mb-3">
                <label for="expirationDate">Son Kullanma Tarihi</label>
                <input type="text" class="form-control" id="expirationDate" formControlName="expirationDate" placeholder="03/23" />
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="cardCvv">Guvenlik Kodu</label>
                <input type="text" class="form-control" id="cardCvv" formControlName="cardCvv" placeholder="000" />
              </div>
            </div>

          </div>

        </form>

      </div>
      <div class="col-2"></div>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" style="text-align: center">
        <button class="btn btn-success" (click)="payment()"> Ödemeyi tamamla </button>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

</div>
