<div class="card">

  <div class="card-header text-center">
    <strong>Ödeme İşlemleri</strong>
  </div>

  <div class="card-body">

    <div class="row">

      <div class="col-6">

        <div class="mb-3">
          <p>Toplam Tutar : <strong>{{ cartTotal }}</strong> TL </p>
        </div>

        <form [formGroup]="paymentForm">
          
          <div class="mb-3">
            <label for="cardOwnerName">Kart Sahibinin Adı Soyadı</label>
            <input type="text" class="form-control" id="cardOwnerName" formControlName="cardOwnerName" />
          </div>

          <div class="mb-3">
            <label for="cardNumber">Kart Numarası</label>
            <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber" placeholder="0000-0000-0000-0000"/>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="cardExpirationDate">Son Kullanma Tarihi</label>
                <input type="text" class="form-control" id="cardExpirationDate" formControlName="cardExpirationDate" placeholder="03/23" />
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label for="cardCvv">Guvenlik Kodu</label>
                <input type="text" class="form-control" id="cardCvv" formControlName="cardCvv" placeholder="000" />
              </div>
            </div>            
          </div>
          
          <div class="row">
            <div class="col-12">              
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="saveCard" id="saveCard">
                <label class="form-check-label" for="saveCard">
                  Kart bilgilerimi kaydet
                </label>
              </div>
            </div>
          </div>

        </form>

      </div>

      <div class="col-6">
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Kayıtlı kartlar</strong>
          </li>

          <li *ngFor="let card of cards" class="list-group-item mouse" (click)="setCurrentCard(card)" >
           Kart No : {{ card.cardNumber }}
          </li>

          <li *ngIf="cards.length == 0" class="list-group-item">
            Kayıtlı kartınız bulunmamaktadır.
          </li>

        </ul>
      </div>

    </div>
    
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" style="text-align: center">
        <button class="btn btn-success" (click)="payment()"> Ödemeyi tamamla </button>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

</div>
