<div *ngIf="dataLoaded == false" class="spinner-border text-danger d-flex mx-auto" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<h5><p class="font-weight-bold">Araç Listesi</p></h5>

<div class="row">

  <div class="col-sm-3">
    <select class="form-select" id="markasec" [(ngModel)]="currentBrand">
      <option [ngValue]="undefined" selected>Bütün Markalar</option>
      <option *ngFor="let brand of brands" value="{{ brand.id }}">{{ brand.name }}</option>     
    </select>
  </div>

  <div class="col-sm-3">
    <select class="form-select" id="renksec" [(ngModel)]="currentColor">
      <option [ngValue]="undefined" selected>Bütün Renkler</option>
      <option *ngFor="let color of colors" value="{{ color.id }}">{{ color.name }}</option> 
    </select>    
  </div>

  <div class="col-sm-3">
    <a type="button" [routerLink]="['/cars']" [queryParams]="{brandId: currentBrand, colorId: currentColor}" 
    class="btn btn-primary">Filtrele</a>
  </div>  
  
  <div class="col-sm-3">
    <input type="text" class="form-control" id="aracarama" [(ngModel)]="carFilter" placeholder="Araç ara">
  </div>

</div>

<br />

<table *ngIf="dataLoaded == true" class="table table-bordered table-condensed table-hover">
  
  <thead class="thead-dark">
    <tr>
      <th scope="col">İsim</th>
      <th scope="col">Renk</th>
      <th scope="col">Model</th>
      <th scope="col">Fiyat</th>
      <th scope="col">Tanımlama</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let car of carDetails | carFilter : carFilter" [routerLink]="['/cardetail']" [queryParams]="{carId: car.id}" >
      <td>{{ car.name }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }} TL</td>
      <td>{{ car.description }}</td>
    </tr>

    <tr *ngIf="carDetails.length == 0">
      <td colspan="5">KAYITLI ARAÇ YOK</td>
    </tr>    
  </tbody>

</table>