<div *ngIf="dataLoaded==false" class="spinner-border text-danger d-flex mx-auto" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <h5>Müşteriler</h5>
  <table *ngIf="dataLoaded==true" class="table table-bordered table-condensed table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Firma</th>
          <th scope="col">Müşteri Adı</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customerdetails">
          <td>{{ customer.id }}</td>
          <td>{{ customer.companyName }}</td>
          <td>{{ customer.firstName +" "+ customer.lastName }}</td>
        </tr>
      </tbody>
    </table>